.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 6rem;
  background-color: var(--white);
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.3);
  z-index: 999;

  .nav-container {
    width: 100%;
    max-width: 110rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    color: var(--black);

    .logo {
      font-size: 2.5rem;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 2rem;
    }

    li {
      font-size: 2rem;
    }
  }
}
